h3 {
    color :blueviolet
}

.header1 {
    color: blue;

}
.header2 {
    color: rgb(255, 0, 111);

}

body {
  background-color: rgb(78, 130, 147);
}

h1 {
  color: rgb(94, 228, 161);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}